html {
    box-sizing: border-box;

}

body {
    margin: 0;
    min-height: 100vh;
    background-color: grey;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}


#taskInput {
    height: 40px;
    width: 300px;
    margin-top: 20px;
}

.sections {
    color: green;
    margin: 0;
    padding: 0;
}

.tasks {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: column wrap;
    background-color: red;
    height: 75vh;
    width: 65vh;
}
.task {
    margin
}

ul {
    list-style-type: none;
}

.strikethrough {
    text-decoration: line-through;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* Ensure the popup stays over the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Dim background for popup */
    z-index: 1000;
    /* Higher than #container1 */
}


.taskForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
    padding: 20px;
    background-color: blueviolet;
    border-radius: 10px;
    z-index: 1001;
    /* Ensures form content is above overlay */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.submitButton {
    width: 15%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.hidden {
    display: none;
}